<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        ><a routerLink="/">Home</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/servers">Servers</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/users']">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div> -->

  <!-- OBSERVABLES -->
  <!-- <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <a routerLink="/">Home</a>
        <a [routerLink]="['user', 1]">User 1</a>
        <a [routerLink]="['user', 2]">User 2</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div> -->

  <!-- FORMS IN ANGULAR -->
  <!-- <app-form></app-form> -->
  <!-- <div class="app-form"></div> -->
  <!-- <div app-form></div> -->

  <!-- Reactive Forms -->
  <!-- <app-reactive-form></app-reactive-form> -->

  <!-- HTTP-Module -->
  <!-- <app-http></app-http> -->

  <!-- Angular Pipes -->
  <app-pipes></app-pipes>